.entery-page {
  height: 100vh;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../imgs/login.svg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: auto; /* Resize the background image to cover the entire container */
}

.login-paper {
  padding: 50px 0;
}
.login-form input {
}
#standard-basic {
}
